.template-body {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  td, th{
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
  }

  input,
  .textarea,
  select {
    width: 100%;
    border: 1px transparent solid;
    padding: 4px 6px;
    border-radius: 4px;
    outline: none;
    transition: all 0.25s ease;
  }

  input:focus,
  .textarea:focus,
  select:focus {
    border: 1px solid #0969da;
    box-shadow: 0 0 0 2px #0969da;
  }

  .textarea {
    word-break: break-all;
    width: 100%;
  }
}
